/* Global Styles */
body {
  margin: 0;
  user-select: none;
}
html {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
/* Image Pokemon Styles */
#title-pokemon {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px black;
  border-radius: 100px;
  padding: 5px 15px;
  margin-bottom: -5px;
}
.imagen-pokemon {
  width: 100px;
  height: 100px;
  margin: 10px;
  animation: aparecer 1s forwards;
}
.imagen-pokemon2 {
  position: relative;
  top: -200px;
}
@keyframes aparecer {
  0% {
    transform: translateY(50%) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: translateY(0) rotate(20deg);
    opacity: 1;
  }
  50% {
    rotate: -20deg;
  }
  100% {
    rotate: 0deg;
  }
}
.pokemon {
  text-align: center;
  display: inline-block;

  height: 0;
}
.centrado-pokemon {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60vh;
}
/* Pokemon Buttons Styles */
.botones-cambio {
  display: flex;
  gap: 10px;
  position: relative;
  top: 0px;
}
#anteriorBtn,
#siguienteBtn,
#lanzar,
#luchar,
#cambiar,
#huir {
  border: outset 2px black;
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  padding: 0;
  letter-spacing: 1px;
}
#anteriorBtn:hover,
#siguienteBtn:hover,
#lanzar:hover,
#luchar:hover,
#cambiar:hover,
#huir:hover {
  border: solid 2px black;
  color: white;
}
.boton-lanzar {
  position: relative;
  left: -5px;
  margin-top: 10px;
  position: relative;
  top: 0px;
}
#anteriorBtn p,
#siguienteBtn p,
#lanzar p,
#luchar p,
#cambiar p,
#huir p {
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0;
  padding: 5px 10px;
}
#anteriorBtn p:hover,
#siguienteBtn p:hover,
#lanzar p:hover,
#luchar p:hover,
#cambiar p:hover,
#huir p:hover {
  border: solid 1px white;
  border-radius: 3px;
}
#botones-ataque {
  position: relative;
  top: -116.9px;
  left: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#anteriorBtn {
  background-color: #d54b4c;
}
#siguienteBtn {
  background-color: #5dba50;
}
#lanzar {
  background-color: #d2b537;
}
#anteriorBtn:hover {
  background-color: #963434;
}
#siguienteBtn:hover {
  background-color: #356b2e;
}
#lanzar:hover {
  background-color: #968227;
}
#luchar {
  background-color: #7179dc;
}
#cambiar {
  background-color: #d57b4b;
}
#huir {
  background-color: #8e4bd5;
}
#luchar:hover {
  background-color: #484d8d;
}
#cambiar:hover {
  background-color: #915433;
}
#huir:hover {
  background-color: #613491;
}
#botonesAtaques {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ataque1,
.ataque2,
.ataque3,
.ataque4 {
  border: outset 2px black;
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 0;
}
.ataque1 p,
.ataque2 p,
.ataque3 p,
.ataque4 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0;
  padding: 5px 10px;
  height: 42px;
}
.ataque1 p:hover,
.ataque2 p:hover,
.ataque3 p:hover,
.ataque4 p:hover {
  border: solid 1px white;
  border-radius: 3px;
}
.ataque1,
.ataque2 {
  margin-left: 10px;
}
.ataque3,
.ataque4 {
  margin-left: 5px;
}
.ataque1 {
  background-color: #915433;
}
.ataque2 {
  background-color: #5dba50;
}
.ataque3 {
  background-color: #b771dc;
}
.ataque4 {
  background-color: #d2b537;
}
.ataque1:hover {
  background-color: #683c25;
  color: white;
  border: solid 2px black;
}
.ataque2:hover {
  background-color: #397331;
  color: white;
  border: solid 2px black;
}
.ataque3:hover {
  background-color: #7b4b94;
  color: white;
  border: solid 2px black;
}
.ataque4:hover {
  background-color: #8f7c25;
  color: white;
  border: solid 2px black;
}

#botonesAtaques,
#botonesAtaques2 {
  margin-top: -18.6px;
  width: 110px;
}
.botonesAtaqueCentrados {
  display: flex;
}
.volver {
  display: flex;
  justify-content: center;
  position: relative;
  top: 70vh;
  font-size: 15px;
  margin: 0 10px;
  text-align: center;
}
.volver a {
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  background-color: #8e4bd5;
  border: solid 1.5px black;
  color: white;
  border-radius: 100px;
  padding: 5px 15px;
  letter-spacing: 1px;
}
@media (height < 800px) {
  #botonesAtaques,
  #botonesAtaques2 {
    margin-top: -21.2px;
  }
}
@media (height < 600px) {
  .centrado-pokemon {
    top: 47vh;
  }
  #botonesAtaques,
  #botonesAtaques2 {
    margin-top: -18.5px;
  }
}
